{{define "header.html" }}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.title}}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link rel="stylesheet" href="/static/css/profile.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a href="./auth">Sign in</a>
            <a href="#">FAQs</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="/static/img/icon/search.png" alt=""></a>
        <a href="#"><img src="/static/img/icon/heart.png" alt=""></a>
        <a href="#"><img src="/static/img/icon/cart.png" alt=""> <span>0</span></a>
        <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>

    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Free shipping, 30-day return or refund guarantee.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            {{if ne .session.Status "unauthorized"}}
                                <a href="/auth/profile/{{.session.User.Email}}" id="profile-button">Profile</a>
                            {{else}}
                                <a href="/auth" id="signin-button">Sign in</a>
                            {{end}}
                            <a href="#">FAQs</a>
                        </div>
                        <div class="header__top__hover">
                            <span>Usd <i class="arrow_carrot-down"></i></span>
                            <ul>
                                <li>USD</li>
                                <li>EUR</li>
                                <li>USD</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="/"><img src="/static/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li {{if eq .page "home"}} class="active" {{end}}><a href="/">Home</a></li>
                        <li {{if eq .page "shop"}} class="active" {{end}}><a href="/products">Shop</a></li>
                        <li {{if eq .page "about" }} class="active" {{end}}><a href="/about">About Us</a></li>
                        <li {{if eq .page "contacts" }} class="active" {{end}}><a href="/contacts">Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="/static/img/icon/search.png" alt=""></a>
                    <a href="#"><img src="/static/img/icon/heart.png" alt=""></a>
                    <a href="/cart"><img src="/static/img/icon/cart.png" alt=""> <span>0</span></a>
                    {{if eq .cartOverall 0.0}}
                        <div class="price" id="cart-overall">$0.00</div>
                    {{else}}
                        <div class="price" id="cart-overall">${{.cartOverall}}</div>
                    {{end}}
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->
<!-- -->
<div class="wrapper" id="notification" style="display: none">

    <div class="notifications">
        <div class="notifications__item">
            <div class="notifications__item__avatar">
                <img src="https://static-00.iconduck.com/assets.00/alert-icon-2048x1935-lv49434z.png" />
            </div>

            <div class="notifications__item__content">
                <span class="notifications__item__title">Notification</span>
                <span class="notifications__item__message">Just commented on your last post</span>
            </div>

            <div>
                <div class="notifications__item__option archive js-option auth-btn">
                    <i class="fas"></i>
                </div>
                <div class="notifications__item__option delete js-option">
                    <i class="fas"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="wrapper" id="notification-good" style="display: none">

    <div class="notifications">
        <div class="notifications__item">
            <div class="notifications__item__avatar">
                <img src="https://www.freeiconspng.com/thumbs/checkmark-png/black-checkmark-png-4.png" />
            </div>

            <div class="notifications__item__content">
                <span class="notifications__item__title">Notification</span>
                <span class="notifications__item__message" id="good-mess">Just commented on your last post</span>
            </div>

            <div>
                <div class="notifications__item__option archive js-option" id="good-btn">
                    <i class="fas"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}