{{ template "header.html" .}}
<form method="POST" enctype="multipart/form-data">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <div class="profile-picture" {{if ne .user.PhotoPath ""}} style="background-image: url('/media/profile/{{.user.PhotoPath}}')" {{end}}>
                        <h1 class="upload-icon">
                            <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                        </h1>
                        <input
                                class="file-uploader"
                                type="file"
                                onchange="upload()"
                                accept="image/*"
                                name="photo"
                        />
                    </div>
                    <span class="font-weight-bold">{{.user.FirstName}} {{.user.LastName}}</span>
                    <span class="text-black-50">{{.user.Email}}</span><span> </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">First Name</label><input type="text" name="firstName" class="form-control" placeholder="first name" value="{{.user.FirstName}}"></div>
                        <div class="col-md-6"><label class="labels">Surname</label><input type="text" name="lastName" class="form-control" value="{{.user.LastName}}" placeholder="Surname"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" name="telNum" class="form-control" placeholder="Enter phone number" value="{{.user.TelNumber}}"></div>
                        <div class="col-md-12"><label class="labels">Country</label><input type="text" name="country" class="form-control" placeholder="enter Country" value="{{.user.Country}}"></div>
                        <div class="col-md-12"><label class="labels">State</label><input type="text" name="state" class="form-control" placeholder="Enter State" value="{{.user.State}}"></div>
                        <div class="col-md-12"><label class="labels">City</label><input type="text" name="city" class="form-control" placeholder="Enter City" value="{{.user.City}}"></div>
                        <div class="col-md-12"><label class="labels">Address </label><input type="text" name="address" class="form-control" placeholder="Enter Address" value="{{.user.Address}}"></div>
                        <div class="col-md-12"><label class="labels">Postcode</label><input type="text" name="postCode" class="form-control" placeholder="Enter Postcode" value="{{.user.PostCode}}"></div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-secondary profile-button" type="button" onclick="location.href='/auth/logout'">Logout</button>
                        <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{{template "footer.html"}}